{% extends 'base.html' %}

{% block content %}
  <div class="row row-cols-1 row-cols-md-4 g-4">
  {% for movie in top10 %}
    <div class="col">
      <div class="card h-100">
        <a href="{% url 'movies:detail' movie.pk %}">
          <img src="{{ movie.poster_path }}" class="card-img-top" alt="img">
        </a>
        <div class="card-body">
          <h3 class="card-title">{{ movie.vote_average }}</h3>
          <h5 class="card-text">{{ movie.title }}</h5>
        </div>
      </div>
    </div>

  {% endfor %}
{% endblock %}
