{% extends 'base.html' %}

{% block content %}
  <h1>Community</h1>
  <hr>
  {% for review in reviews %}
    <p>작성자 : <a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></p>
    <p>글 번호: {{ review.pk }}</p>
    <p>글 제목: {{ review.title }}</p>
    <p>글 내용: {{ review.content }}</p>
    <div>
      <form class="like-forms" data-review-id="{{ review.pk }}">
        {% csrf_token %}
        {% if user in review.like_users.all %}
          <button class="btn btn-warning" id="like-{{ review.pk }}">좋아요 취소</button>
        {% else %}
          <button class="btn btn-warning" id="like-{{ review.pk }}">좋아요</button>
        {% endif %}
      </form>
      <p>
        <span id="likeUserNum-{{ review.pk }}">{{ review.like_users.all | length }}</span> 명이 이 글을 좋아합니다.
      </p>
    </div>
    <a href="{% url 'community:detail' review.pk %}">[detail]</a>
    <hr>
  {% endfor %}
{% endblock %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>  
  <script>
    const forms = document.querySelectorAll('.like-forms')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    forms.forEach((form) => {
      form.addEventListener('submit', function (event) {
        event.preventDefault()

        const reviewId = event.target.dataset.reviewId

        axios({
          method: 'post',
          url: `/community/${reviewId}/like/`,
          headers: {'X-CSRFToken': csrftoken},
        })
          .then((response) => {
            const isLiked = response.data.is_liked
            const likeBtn = document.querySelector(`#like-${reviewId}`)
            const countNum = response.data.countNum
            console.log(response)

            if (isLiked === true) {
              likeBtn.innerText = '좋아요 취소'
            } else {
              likeBtn.innerText = '좋아요'
            }

            const likeUser = document.querySelector(`#likeUserNum-${reviewId}`)
            likeUser.innerText = countNum

            console.log(countNum)
          })
          .catch((error) => {
            console.log(error.response)
          })
      })
    })

  </script>
{% endblock script %}
